<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<h3>Shopping Shopping</h3>
<br>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">Item</th>
            <!-- <th>Name</th> -->
            <!-- <th>Quantity</th> -->
            <th>Price</th>
            <th colspan="3" style="text-align: center;">Add to Cart</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataArray; let idx = index">
            <td style="width: 10%;">
                <img [src]="'fruits/'+item.path" style="width: 50px;">
            </td>
            <td>{{item.name}}</td>
            <!-- <td>{{item.quantity}}</td> -->
            <td>{{item.price}}</td>
            <td style="width: 10%">
                <button type="button" (click)="decreaseQuantity2(item.name, item.quantity, item.price)" class="btn btn-danger">-</button>
            </td>
            <td style="width: 15%; text-align: center;">
                <span>&nbsp; {{getCartQuantity(item.name)}} / {{item.quantity}} &nbsp;</span>
            </td>
            <td style="width: 10%">
                <button type="button" (click)="increaseQuantity2(item.name, item.quantity, item.price)" class="btn btn-success">+</button>
            </td>
        </tr>
    </tbody>
</table>